/* :root{
    --main-color: #0077b6;
}
main{
    margin-top: 5.5rem;
}

img{
    height: 300px;
    width: 100%;

}

.product-card .btnn{
    background-color: var(--main-color) ;
} */

/* ------------------------------------------------------------------------------- */

/* Main section container */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cera-round-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
  

body{
    background-color: #ffdbdc;
}
main {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust width as needed */
    margin: 0 ; /* Center the section */
    margin: 5px, 5px, 5px, 5px;
    padding: 15px; /* Add some padding */
   
    
  }

  header{
    margin-bottom: 4%;
  }
  
  /* Image container */
  img {
    margin: 1rem auto;
    width: 22vw; /* Adjust image width */
    height: 42vh; /* Adjust image height */
    margin-right: 1.5vw; /* Add some margin on the right */
  }

  /* Hover effect */
.img:hover {
    transition: transform 0.5s ease-in-out;
}

/* Zoom effect on hover */
.hover-element:hover .img {
transform: scale(1.1);
}



  
   h2 {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 5px; /* Add some margin below the heading */
  }
  
   p {
    font-size: 14px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
  }
  
  .price {
    color: rgb(33, 0, 151); /* Set price color to red */
    font-weight: bold; /* Set price to bold */
  }
  
  /* Buttons */
  .buttons {
    text-decoration: none;
   
    margin-top: 15px; /* Add some margin above the buttons */
    text-align: right; /* Align buttons to the right */
    background-color: #4CAF50; /* Set button background color */
    color: white; /* Set button text color */
  }
  
  a{
    text-decoration: none;
    margin-right: 5%;
}
   button {
    border: none; /* Remove default button border */
    background-color: #4CAF50; /* Set button background color */
    color: white; /* Set button text color */
    padding: 10px 15px; /* Add some padding */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Set cursor to pointer */
    margin-top: 15px; /* Add some margin above the buttons */
    text-align: right; /* Align buttons to the right */
  }
  
 
  
/* ------------------------------------------------------------------------------- */

/* For Signup page */

.card {
  width: 50vw;
  height: 90vh;
  cursor: pointer;
}

/* .card {
  width: 5rem;
  background-color: #fff;
  border: none;
} */

.btn-primary {
  background-color: #007bff; /* Bootstrap's primary color */
}

/* ------------------------------------------------------------------------------- */

/* Navbar  */


.navbar {
  /* background-color: #0A142F; */
  background-color: #007bff;
}


.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #ecf0f1;
}

.form-inline input {
  width: 250px;
}


/* ---------------------------------------------------------------------------------------------------------------- */


/* .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:0 ;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  } */


/* ---------------------------------------------------------------------------------------------------------------- */

/* Footer */

footer{
  background-color: #007bff;
  width: 100%;
  height: 15vh;
  color: #fff;
  text-align: center;
  padding-top: 2%;
}

.index{
  
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------- */
/* hover */


@media screen and (max-device-width: 700px) 
    and (orientation: portrait) {
    img {
      width: 100%;
      height: auto;
    }
}

@media screen and (min-width: 1200px) 
    and (orientation: portrait) {
    img {
      width: 100%;
      height: auto;
    }
}

@media screen and (min-device-width: 868px) 
    and (orientation: portrait) {
    img {
      width: 100%;
      height: auto;
    }
}



